{% extends "base.html" %} {% block content %}
<h1>{% if object %}Editar{% else %}Nueva{% endif %} Materia</h1>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="{{ form.nombre.id_for_label }}" class="form-label"
      >{{ form.nombre.label }}</label
    >
    {{ form.nombre }} {% if form.nombre.errors %}
    <div class="text-danger">{{ form.nombre.errors }}</div>
    {% endif %}
  </div>

  <div class="mb-3">
    <label for="{{ form.horario.id_for_label }}" class="form-label"
      >{{ form.horario.label }}</label
    >
    {{ form.horario }} {% if form.horario.errors %}
    <div class="text-danger">{{ form.horario.errors }}</div>
    {% endif %}
  </div>

  <div class="mb-3">
    <label for="{{ form.cupo.id_for_label }}" class="form-label"
      >{{ form.cupo.label }}</label
    >
    {{ form.cupo }} {% if form.cupo.errors %}
    <div class="text-danger">{{ form.cupo.errors }}</div>
    {% endif %}
  </div>

  <div class="mb-3">
    <label for="{{ form.carrera.id_for_label }}" class="form-label"
      >{{ form.carrera.label }}</label
    >
    {{ form.carrera }} {% if form.carrera.errors %}
    <div class="text-danger">{{ form.carrera.errors }}</div>
    {% endif %}
  </div>

  <button type="submit" class="btn btn-success">Guardar</button>
  <a href="{% url 'materias:materia_list' %}" class="btn btn-secondary"
    >Cancelar</a
  >
</form>
{% endblock %}
